/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Navigation Bar */
  nav ul {
    list-style: none;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
  }
  
  /* Home Section */
  #home {
    
    background-color: gainsboro;
    padding: 100px 0;
    text-align: center;
  }
  
  #home h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  #home p {
    font-size: 18px;
    color: #666;
  }
  
  /* About Us Section */
  #about {
    background-color: gainsboro;
    padding: 80px 0;
  }
  
  #about h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  
  #about p {
    font-size: 18px;
    color: #666;
  }
  
  /* Services Section */
  #services {
    background-color: gainsboro;
    padding: 80px 0;
    text-align: center;
  }
  
  .service {
    display: inline-block;
    margin: 20px;
    max-width: 300px;
  }
  
  .service img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .service h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 16px;
    color: #666;
  }
  
  /* Contact Us Section */
  #contact {
    background-color: gainsboro;
    padding: 80px 0;
    text-align: center;
  }
  
  #contact h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  form label, form input, form textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
  }
  
  form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #555;
  }
  